/* navbar  */
.dropdown {
    margin-left: 20px !important;
}

.dropdown button {
    background-color: white;
    color: black;
}

.navbar {
    background-color: #000088 !important;
}

.navbar-brand {
    color: white;
    font-weight: 900;
}

.fas {
    color: white;
}

@media only screen and (max-width: 609px) {
    .container-fluid {
        flex-direction: column !important;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }
    
}
/* cards  */
.card {
    width: 224px;
    margin: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards p {
    margin-bottom: 0;
}

.cards img {
    height: 206px;
}

.card-body {
    background-color: #eff5ff;
}
